body{
	background-color: rgb(199, 193, 193);
}
.main_container{
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
h1{
	font-size: 64px;
	line-height: 130%;
	text-align: center;
}
h2{
	font-size: 34px;
	line-height: 130%;
	align-items: center;
}